#appTitle{
    text-align-last: center;
    color: blue;
    font-family: 'Bebas Neue', cursive;
}

body{
    background-image: url("../assets/background_images/cinematic.jpg");
}

#mainCardHeader{
    background-color: #DBE0D9;
}

#mainCardBody{
    background-color: #2C355E;
}

#mainCardFooter{
    background-color: #DBE0D9;

}

#loader{
    margin: 0 50%;
}

#title{
    font-family: 'Dancing Script', cursive;
   text-align: center;
}

#logosImg{
    margin: 0 35%;
}